<div class="large-3 small-12 column">
  <%= image_tag @crown.picture_url %>
</div>

<div class="large-9 small-12 column">
  <h3>
    <%= @crown.name %>
    (<%= @crown.color %>)
  </h3>
  <p class="label crown-label radius mb1">$ <%= @crown.price %></p>

  <h5>Flower Type(s)</h5>
  <p><%= @crown.flower_type %></p>
  <h5>Color(s):</h5>
  <p><%= @crown.color %></p>
  <h4>Description:</h4>
  <p><%= @crown.description %></p>

  <%if signed_in?%>
    <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@crown), removeUrl: remove_from_cart_path(@crown)} do%>
      <i class="fi-shopping-cart"></i>
      <span><%=@cart_action%></span> Cart
    <%end%>
  <%end%>
</div>